In [2]:
my_set = {}
print(type(my_set))

<class 'dict'>

In [3]:
my_set = set()
print(type(my_set))

<class 'set'>

In [4]:
my_set = {1,2,3,3,"Akpevwe", 90.0, True}

In [5]:
my_set

{1, 2, 3, 90.0, 'Akpevwe'}

In [8]:
# Looping through a set
for set in my_set:
    print(set)

1
2
3
Akpevwe
90.0

In [9]:
my_set = {1,2,3,4,5}
sum(my_set)

15

In [10]:
dir(my_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [58]:
my_set1 = {1,2,3,4,5}
my_set2 = {1,2,3,4,5,6,7,8}

my_set1.symmetric_difference_update(my_set2)
my_set1

{6, 7, 8}

In [51]:
help(my_set.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [50]:
my_set1 = {1,2,3,4,5}
my_set2 = {1,2,3,4,5,6,7,8}

my_set2.isdisjoint(my_set1)

False

In [48]:
help(my_set.isdisjoint)

Help on built-in function isdisjoint:

isdisjoint(...) method of builtins.set instance
    Return True if two sets have a null intersection.

In [46]:
my_set1 = {1,2,3,4,5}
my_set2 = {1,2,3,4,5,6,7,8}

my_set2.issubset(my_set1)

False

In [47]:
my_set1 = {1,2,3,4,5}
my_set2 = {1,2,3,4,5,6,7,8}

my_set2.issuperset(my_set1)

True

In [42]:
my_set = {1,2,3,4,5}
my_set.remove(7)

KeyError: 7

In [43]:
my_set = {1,2,3,4,5}
my_set.discard(7)

In [41]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

my_set1.difference_update(my_set2)
my_set1

{1, 2, 3}

In [14]:
help(my_set.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [15]:
my_set.add(6)

In [18]:
my_set.add(76)

In [25]:
my_set.add(6)
my_set.add((1,2,3))

In [26]:
my_set

{(1, 2, 3), 1, 2, 3, 4, 5, 6, 76}

In [27]:
my_set.pop()

1

In [30]:
my_set.pop()

2

In [32]:
my_set.remove((1, 2, 3))

In [33]:
my_set

{3, 4, 5, 6, 76}

In [36]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

my_set3 = my_set1.union(my_set2)
my_set3

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

my_set4 = my_set1.intersection(my_set2)
my_set4

{4, 5}

In [38]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

my_set1.intersection_update(my_set2)
my_set1

{4, 5}

In [61]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

print(my_set1 | my_set2)
print(my_set1 & my_set2)
print(my_set1 - my_set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}